:root {
    --prominent-color: #0A1128;
    --complementary-color: #dc143c;
    --white-color: #FFF;
}

html {
    font-size: 6.25%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.nav-container,
.article-container,
footer p {
    padding: 0 30rem;
}

.main-bg {
    background-image: url(../img/main-bg.svg);
    background-size: cover;
    background-position: center center;
}

/* Header Style */

.header-container {
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border: 2rem solid #EEE;
    padding: 18rem 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200rem;
    margin: 0 auto;
}

.nav-container h1 a {
    font-size: 24rem;
    color: var(--prominent-color);
    text-transform: uppercase;
}

.nav-container ul {
    display: flex;
    list-style: none;
    gap: 40rem;
}

.nav-container ul li a {
    text-transform: lowercase;
    position: relative;
    font-size: 19rem;
    color: #000;
    transition: 0.2s ease-in-out;
}

.nav-container ul li a::after {
    content: '';
    position: absolute;
    bottom: -12.5rem;
    left: 50%;
    width: 0;
    height: 2.5rem;
    background: var(--complementary-color);
    transition: 0.4s ease-in-out;
}

.nav-container ul li a:hover::after {
    left: 0;
    width: 100%;
}

.nav-container ul li a:hover {
    color: var(--complementary-color);
}

/* Main Style */

.main-container p,
#pricing table {
    font-size: 20rem;
    line-height: 30rem;
    padding-bottom: 25rem;
}

.section-container {
    position: relative;
    top: 69rem;
    min-height: 100vh;
    padding: 60rem 0 100rem 0;
}

.article-container {
    max-width: 1200rem;
    margin: 0 auto;
}

h2.title {
    text-transform: uppercase;
    font-size: 58rem;
    padding: 35rem 0;
}

.blue-title {
    color: var(--prominent-color);
}

/* Section - Start */

#start {
    padding-top: 85rem;
}

#start article {
    display: flex;
    align-items: center;
    gap: 30rem;
    color: var(--white-color);
}

#start h3 {
    text-transform: uppercase;
    font-size: 58rem;
    padding-bottom: 40rem;
}

#start p {
    max-width: 555.5rem;
    font-size: 20rem;
    line-height: 30rem;
}

#start img {
    max-width: 57.5%;
}

/* Section - Intro & Pricing */

#intro .article-container,
#pricing .article-container {
    max-width: 650.5rem;
    text-align: center;
}

#pricing .responsive-table {
    min-width: 325.25rem;
    overflow-x: auto;
}

#pricing table {
    border-collapse: collapse;
    text-align: left;
    white-space: nowrap;
}

#pricing table caption {
    text-align: inherit;
    color: var(--prominent-color);
    padding: 42.5rem 0 15rem 0;
}

#pricing table th,
#pricing table td {
    border: 2rem solid #EEE;
    padding: 10rem;
}

#pricing table th,
#pricing table tfoot td {
    background-color: #EEE;
}

#pricing table tfoot td {
    text-align: right;
}

/* Section - Grids & Gallery */

.grid-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360rem, 1fr));
}

.grid .grid-list {
    column-gap: 30rem;
}

#gallery .grid-list {
    gap: 30rem;
    margin-top: 15rem;
}

.grid {
    color: var(--white-color);
    counter-reset: grid-counter;
}

.grid .article-grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    font-family: 'Montserrat', sans-serif;
    font-size: 70rem;
    position: relative;
    top: 12.5rem;
    right: 15rem;
    display: inline-block;
    transform: rotate(10deg);
    transition: 0.35s ease-in-out;
}

.grid .article-grid h3 {
    display: inline-block;
    font-size: 35rem;
    padding: 0 0 15rem 15rem;
    transition: 0.35s ease-in-out;
}

.grid .article-grid p {
    padding: 15rem;
    transition: 0.35s ease-in-out;
}

.grid .article-grid h3:hover {
    padding-left: 20rem;
}

.grid .article-grid h3:hover::before {
    transform: rotate(0deg);
    letter-spacing: 5rem;
}

.grid .article-grid h3:hover + p {
    background-color: #00000040;
}

#gallery .grid-list img {
    width: 100%;
    transition: 0.4s ease-in-out;
}

#gallery .grid-list img:hover {
    transform: scale(1.05);
}

/* Section - Contact */

#contact {
    background-color: var(--prominent-color);
    color: var(--white-color);
}

#contact.main-bg {
    background-position: -444rem -12rem;
}

#contact form fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30rem;
    font-size: 20rem;
}

#contact form legend {
    padding: 30rem 0 60rem 0;
}

#contact form .input-box {
    flex: 1 1 349.95rem;
    padding-bottom: 30rem;
}

#contact form .input-message {
    flex-basis: 100%;
}

#contact form input,
#contact form textarea {
    width: 100%;
    outline: none;
    border: none;
    font-family: monospace;
    font-size: 30rem;
    padding: 15rem 20rem;
    margin-top: 10rem;
}

#contact form input::placeholder,
#contact form textarea::placeholder {
    color: #cacaca;
}

#contact form input:focus,
#contact form textarea:focus {
    box-shadow: 1rem 1rem 10rem 0 var(--complementary-color), -1rem -1rem 10rem 0 var(--complementary-color);
}

#contact form input:focus::placeholder,
#contact form textarea:focus::placeholder {
    color: #dc143c98;
}

#contact form button {
    background-color: transparent;
    border: 5rem solid var(--white-color);
    color: var(--white-color);
    font-size: 30rem;
    padding: 15rem 20rem;
    transition: 0.3s ease-in-out;
}

#contact form button:hover {
    background-color: var(--white-color);
    color: var(--prominent-color);
}

/* Footer Style */

.footer-container {
    position: relative;
    z-index: 1;
    top: 69rem;
    background-color: var(--white-color);
    text-align: center;
    font-size: 17.5rem;
    padding: 45rem 0;
}

.footer-container a {
    color: #a5a5a5;
    transition: 0.1s ease-in-out;
}

.footer-container a:hover {
    color: var(--complementary-color);
}

/* Back-to-top Button */

.back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    bottom: 20rem;
    right: 20rem;
    width: 50rem;
    height: 50rem;
    border: 2rem solid var(--prominent-color);
    border-radius: 50%;
    background-color: var(--white-color);
}

.back-to-top img {
    width: 45%;
    height: 45%;
}
